###############################################################################
# Filename: .github/CODEOWNERS
# Role: ansible-role-vault
# Summary: Pull request review routing. Default owners are auto-requested for
#          review on every pull request.
# Last Updated: 14 Jul 2026
# Classification: UNCLASSIFIED
###############################################################################
# Default owners for everything in the repository.
* @darkhonor @hobibot
