{{ ansible_managed | comment('#', prefix='', postfix='') }}
# Vault unseal keys and root token
# Mode 0600, owned by root:root
# SECURITY: This file contains sensitive key material
{% for key in __vault_init_data.unseal_keys_b64 %}
VAULT_UNSEAL_KEY_{{ loop.index }}={{ key }}
{% endfor %}
VAULT_ROOT_TOKEN={{ __vault_init_data.root_token }}
