# {{ ansible_managed }}
[Unit]
Description=Auto-Unseal HashiCorp Vault Service
After=network.target
After=vault.service

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/local/bin/vault-unseal.sh
Environment=PATH=/usr/local/bin:/usr/bin:/bin
Environment=VAULT_CACERT={{ vault_tls_ca_file }}
User={{ vault_user }}
Group={{ vault_group }}

[Install]
WantedBy=multi-user.target
