{{ ansible_managed | comment('#', prefix='', postfix='') }}
# Vault environment variables
# Sourced by vault.service systemd unit
VAULT_ADDR=https://127.0.0.1:{{ vault_listener_port }}
VAULT_CACERT={{ vault_tls_ca_file }}
DBUS_SESSION_BUS_ADDRESS=/dev/null
